# Dependencies
node_modules

# Build output
dist

# IDE
.idea
.vscode
*.swp
*.swo

# Git
.git
.gitignore

# Testing
coverage
.nyc_output

# Documentation
*.md

# Misc
.editorconfig
.angular
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Logs
*.log
npm-debug.log*

# GitHub
.github
