<div class="project-shell">
  <mat-sidenav-container class="shell-container">
    <mat-sidenav mode="side" opened class="project-nav">
      <mat-nav-list class="project-nav-list">
        <a mat-list-item [routerLink]="['/projects', projectId, 'setup']" routerLinkActive="active">
          <mat-icon class="nav-icon">settings</mat-icon>
          <span class="nav-text">Project Setup</span>
        </a>
        <a mat-list-item [routerLink]="['/projects', projectId, 'brief']" routerLinkActive="active">
          <mat-icon class="nav-icon">description</mat-icon>
          <span class="nav-text">Brief & Guardrails</span>
        </a>
        <a mat-list-item [routerLink]="['/projects', projectId, 'goals']" routerLinkActive="active">
          <mat-icon class="nav-icon">flag</mat-icon>
          <span class="nav-text">Goals</span>
        </a>
        <a mat-list-item [routerLink]="['/projects', projectId, 'points']" routerLinkActive="active">
          <mat-icon class="nav-icon">gps_fixed</mat-icon>
          <span class="nav-text">Optimization Points</span>
        </a>
        <a mat-list-item [routerLink]="['/projects', projectId, 'reporting']" routerLinkActive="active">
          <mat-icon class="nav-icon">analytics</mat-icon>
          <span class="nav-text">Reporting</span>
        </a>
        <a mat-list-item [routerLink]="['/projects', projectId, 'activation']" routerLinkActive="active">
          <mat-icon class="nav-icon">rocket_launch</mat-icon>
          <span class="nav-text">Activation</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="project-content">
        <div class="project-content-inner">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

