.modal-content {
  line-height: 1.6;
  
  p {
    margin: 12px 0;
  }
  
  ul {
    margin: 8px 0;
    padding-left: 24px;
  }
  
  li {
    margin: 4px 0;
  }
  
  strong {
    font-weight: 600;
  }
}

