<div class="chips-input-wrapper full-width">
  <mat-form-field appearance="outline" floatLabel="always" class="chips-input full-width">
    <mat-chip-grid #chipGrid [attr.aria-label]="getDisplayLabel()">
      <mat-chip-row *ngFor="let item of value" (removed)="remove(item)">
        {{ item }}
        <button matChipRemove [attr.aria-label]="'remove ' + item">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>
    <input
      [placeholder]="placeholder"
      [matChipInputFor]="chipGrid"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-form-field>
</div>

