:host {
  display: block;
  width: 100%;
}

.chips-input-wrapper {
  width: 100%;
  display: block;
}

.chips-input-wrapper.full-width {
  width: 60%;
}

.chips-input-wrapper ::ng-deep .mat-mdc-form-field {
  width: 100%;
}

.chips-input-wrapper ::ng-deep .mat-mdc-text-field-wrapper {
  width: 100%;
}

